@import url("https://fonts.googleapis.com/css?family=Epilogue");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue";
}

body { 
  min-height: 100vh;
}

@media only screen and (min-device-width : 600px){
  .topnav{
    display: none;
  }
header {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 30px;
  z-index: 100000;
  background-color: white;
  border-bottom: 2px solid black;
}
header.sticky {
  padding: 5px 100px;
  background: #fff;
  border: black;
}
header.logo {
  position: relative;
  font-weight: 700;
  font-family: Epilogue;
  color: #F47346;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  }
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black;
}
header ul li {
  position: relative;
  list-style: none;
  border: black;

}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #4c3b31;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
  border: black;
  }
}




.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background-size: cover;
}
.logoright {
  height: 50px;
  width: 60px;
}
.logoleft {
  
  height: 50px;
  width: 130px;
}
div {
  animation-iteration-count: 1;
  outline: 2px solid black;
  width: 50%;
  height: 50%;
  float: left;
  
}
img{
  animation-iteration-count: 1;
}
#div1 {
  
 margin-top: 5.3%;
  height: 54%;
  background: #F47346;
  text-align: left;
  align-items: center;
  justify-content: center;
}
#div1_1{
 margin-top: 5.3%;
  height: 100%;
  background: #fff;
  text-align: left;
  align-items: center;
  justify-content: center;
}
#div2_2{
 margin-top: 5.3%;
  height: 100%;
  background: #fff;
  text-align: left;
  align-items: center;
  justify-content: center;
}
#div2 {
  margin-top: 5.3%;
  height: 54%;
  background: white;
}
#div1h {
  
  margin-top: 5.3%;
   height: 33%;
   background: #F47346;
   text-align: left;
   align-items: center;
   justify-content: center;
 }
 
 #div2h {
   margin-top: 5.3%;
   height: 33%;
   background: white;
 }

#div3 {
  background: #4c3b31;
  
}

#div4 {
  background: #F47346;
  

}
#div5 {
  background: white;
}
#div6 {
  width: 100%;
  height: 50%;
  background: #4c3b31;
}
#div7 {
  width: 100%;
  height: 50%;
  background: white;
}
#div8 {
  width: 100%;
  height: 50%;
  background: #F47346;
}
#div8_8 {
  width: 100%;
  height: 40%;
  background: #F47346;
}
#div9 {
  width: 100%;
  height: 33%;
  background: #F47346;
}
#div9w{
  width: 100%;
  height: 20%;
  background: #F47346;
}
#div9h {
  width: 100%;
  height: 73%;
  background: #F47346;
}
#div10 {
  width: 100%;
  height: 33%;
  background: #4c3b31;
}
#div10w {
  width: 100%;
  height: 20%;
  background: #4c3b31;
}
#div10h {
  width: 100%;
  height: 67%;
  background: #4c3b31;
}
#div10_10 {
  width: 100%;
  height: 60%;
  background: #4c3b31;
  outline: none;

}
#div10_100 {
  width: 95%;
  height: 80%;
  background: #4c3b31;
  margin: 3%;
  outline: none;
}

#div10_1 {
  width: 15%;
  height: 100%;
  background: #4c3b31;
  margin: 1%;
  margin-left: 0%;
  margin-top: 0%;
  justify-content: center;
  align-items: center;
  outline: none;
}
#div10_1 h1{
  width: 100%;
  background: #4c3b31;
  margin: 1%;
  margin-top: 2%;
  color: #ddd;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
 

}
#div10_1 p{
  width: 100%;
  background: #4c3b31;
margin-bottom: 0%;
  margin-top: 5%;
  color: #ddd;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: lighter;
  font-size: small;

}
#div10_1 img{
  width: 100%;
}
#div11_11 {
  width: 100%;
  height: 40%;
  background: #fff;
  outline: none;

}
#div11_11 h1{
 margin: 4%;
 margin-bottom: 0%;

}
#div11_100 {
  margin-top: 1%;
  width: 95%;
  height: 90%;
  background: #fff;
  margin-left: 2%;
  margin-right: 5%;
  outline: none;
}

#div11_1 {
  width: 15%;
  height: 65%;
  background: #F47346;
  margin: 1.6%;
  margin-left: 0%;
  margin-top: 0%;
  justify-content: center;
  align-items: center;
  outline: none;
  border-bottom-left-radius: 20px;
  border: 1px solid black;
}
#div11_1 h1{
  width: 90%;
  background: #F47346;
  margin: 2%;
  margin-top: 2%;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 17px;
 

}
#div11_1 p{
  width: 100%;
  background: #F47346;
margin-bottom: 1%;
  margin-top: 5%;
  margin-left: 0%;
  padding-left: 2%;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-weight: lighter;
  font-size: 16px;

}

#div11 {
  width: 100%;
  height: 34%;
  background: white;
}
#div11h{
  width: 100%;
  height: 27%;
  background: white;
}
#div12 {
    margin-top: 5.3%;
    width: 100%;
    height: 33%;
    background: #F47346;
  }
  #div13 {
    width: 100%;
    height: 66%;
    background: white;
  }
  #div14 {
    
    width: 100%;
    height: 100%;
    background: #F47346;
  }
  #div15 {
    margin-top: 5.3%;
    width: 50%;
    height: 100%;
    background: white;
  }
#div15_15 {

    width: 100%;
    height: 60%;
    background: white;
  }
  #div16 {
    width: 50%;
    height: 33%;
    background: #F47346;
  }
  #div17 {
    width: 50%;
    height: 33%;
    background: #4c3b31;
  }
  #div18 {
    margin-top: 5.3%;
    width: 50%;
    height: 34%;
    background: white;
  }
  #div19{
    width: 100%;
    height: 100%;
    background: #F47346;
    border-radius:0 0 0 200px;
    outline: 0;
    overflow: hidden;
  }
  #div20{
    width: 100%;
    height: 100%;
    background: #4c3b31;
    border-radius: 0 0 0 200px;
    outline: 0;
    overflow: hidden;
  }
  #div21{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0 200px 0 0;
    outline: 0;
    overflow: hidden;
  }
  #div22{
    width: 100%;
    height: 100%;
    background: #F47346;
    border-radius:200px 0 0 0 ;
    outline: 0;
    overflow: hidden;
  }
  #div23{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0 0 200px 0;
    outline: 0;
    overflow: hidden;
  
  }
  #div24{
    width: 50%;
    height: 100%;
    float: right;
    margin-top: 5.3%;
  }
  #div25{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 16%;
    background: white;
    overflow: hidden;
    
  }
  #div25h{
    
    
    margin-top: 3%;
    width: 45%;
    height: 40%;
    display: flex;
    background: white;
    overflow: hidden;
    
  }
  #div25hh{
    
    
    
    width: 45%;
    height: 40%;
    display: flex;
    background: white;
    overflow: hidden;
    
  }

#div10_1h {
  width: 20%;
  height: 100%;
  background: #4c3b31;
  margin: 1%;
  margin-left: 3%;
  margin-right: 10%;
  margin-top: 0%;
  justify-content: center;
  align-items: center;

  outline: none;
}


  

#div10_1h h1{
  display: inline;
  width: 150%;
  
  
  padding-left: 2%;
  color: white;
  font-size: 17.8px;
  text-align: center;
  font-weight: bolder;

}

  
#div10_1h p{
  display: flex;

  
  padding-top: 2%;
  width: 150%;
  background: #4c3b31;
margin-bottom: 0%;
  margin-top: 2%;
  color: #ddd;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-weight: lighter;
  font-size: 16px;
  line-height: 20px;

}

.fill {
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.orange_30px{
  margin-top: 5.3%;
  justify-content: center;
    text-align: left;
    font-family: 'Epilogue';
    letter-spacing: -5.5%;
    font-size: 30px;
    line-height: 35px;
    color:#F47346;
    font-weight: lighter;
}
.orangebig{
    
    justify-content: center;
    text-align: left;
    font-family: Epilogue;
    letter-spacing: -5.5%;
    font-size: 40px;
    line-height: 50px;
    color: #4c3b31;
}
.orangebigx{
    
  justify-content: center;
  text-align: left;
  font-family: Epilogue;
  letter-spacing: -5.5%;
  font-size: 45px;
  line-height: 50px;
  color: #4c3b31;
}
.orangebiga{
    
  justify-content: center;
  text-align: left;
  font-family: Epilogue;
  letter-spacing: -5.5%;
  font-size: 70px;
  line-height: 50px;
  color: #4c3b31;
}
.whiteonOrange{
    
    
    font-family: Epilogue;
    letter-spacing: -5.5%;
    font-size: 40px;
    line-height: 50px;
    color: white;
}
.whiteonOrangeh{
    
    
  font-family: Epilogue;
  letter-spacing: -5.5%;
  font-size: 40px;
  line-height: 50px;
  color: white;
}
.whiteonOrangea{
    
    
  font-family: Epilogue;
  letter-spacing: -5.5%;
  font-size: 70px;
  line-height: 50px;
  color: white;
}
.whiteonOrangex{
    
    
  font-family: Epilogue;
  letter-spacing: -5.5%;
  font-size: 45px;
  line-height: 50px;
  color: white;
}
.whitebigbrown{
    font-weight: bold;
    font-family: Epilogue;
    text-align: left;
    letter-spacing: -8.5%;
    font-size: 100px;
    line-height: 100px;
    color: #4c3b31;
}
.whitebigorange{
    font-weight: bold;
    font-family: Epilogue;
    text-align: center;
    letter-spacing: -8.5%;
    font-size: 100px;
    line-height: 100px;
    color:#F47346;
}
.whitesmallorange{
    font-family: Epilogue;
    letter-spacing: -5.5%;
    font-size: 40px;
    line-height: 50px;
    color: #F47346;

}
.whitesmallbrown{
    font-family: Epilogue;
    letter-spacing: -5.5%;
    font-size: 40px;
    line-height: 50px;
    color:#4c3b31;

}
.whitesmallbrownz{
  font-family: Epilogue;
  letter-spacing: -5.5%;
  font-size: 25px;
  line-height: 50px;
  color:#4c3b31;

}
.whitesmallorangea{
  font-family: Epilogue;
  letter-spacing: -5.5%;
  font-size: 45px;
  line-height: 50px;
  color: #F47346;

}
.whitesmallbrowna{
  font-family: Epilogue;
  letter-spacing: -5.5%;
  font-size: 45px;
  line-height: 50px;
  color:#4c3b31;

}
.orangesmall{
    
  
    font-family: Epilogue;
    text-align: left;
    letter-spacing: -5.5%;
    font-size: 20px;
    line-height: 50px;
    color: #4c3b31;
}
.brownbigorange{
    font-weight: bold;
    font-family: Epilogue;
    text-align: center;
    letter-spacing: -8.5%;
    font-size: 70px;
    line-height: 80px;
    color:#F47346;
}
.whiteonbrown{
    
  
    font-family: Epilogue;
    text-align: left;
    letter-spacing: -5.5%;
    font-size: 40px;
    line-height: 50px;
    color: white;
}
.orangeonbrown{
    
  
    font-family: Epilogue;
    text-align: left;
    letter-spacing: -5.5%;
    font-size: 40px;
    line-height: 50px;
    color: #F47346;
}
.orangeonbrownx{
    
  
  font-family: Epilogue;
  text-align: left;
  letter-spacing: -5.5%;
  font-size: 45px;
  line-height: 50px;
  color: #F47346;
}
.whiteonbrowna{
    
  
  font-family: Epilogue;
  text-align: left;
  letter-spacing: -5.5%;
  font-size: 70px;
  line-height: 50px;
  color: white;
}
.whiteonbrownx{
    
  
  font-family: Epilogue;
  text-align: left;
  letter-spacing: -5.5%;
  font-size: 45px;
  line-height: 50px;
  color: white;
}
.orangeonbrowna{
  

  font-family: Epilogue;
  text-align: left;
  letter-spacing: -5.5%;
  font-size: 70px;
  line-height: 50px;
  color: #F47346;
}
.whitebigorange1{
    font-weight: bold;
    font-family: Epilogue;
    text-align: center;
    letter-spacing: -8.5%;
    font-size: 70px;
    line-height: 80px;
    color:#F47346;
}
.whitebigbrown1{
    font-weight: bold;
    font-family: Epilogue;
    text-align: center;
    letter-spacing: -8.5%;
    font-size: 70px;
    line-height: 80px;
    color:#4c3b31;
}
.center
{ 
  text-align: left;
  justify-self: center;
  padding-top: 60px;
  padding-left: 25px;
  padding-bottom: 0px;
  padding-right: 0px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
   #div3, #div4, #div5, #div6, #div7, #div8,  #div13, #div14, #div16, #div17, #div18, #div1_1, #div8_8{
  margin-top: 0%;
    height: 56%;
    width: 100%;

  }
  div {
  
    outline: 2px solid black;
    width: 50%;
    height: 50%;
    float: left;
    
  }

  #div10_10{
    height: 90%;
  }

  #div1,#div12, #div15, #div1_1{
    position:absolute; 
    margin-top:50px ;
    height: 50%;
    width: 100%;
    overflow: hidden;
  }
  #div15_15{
    height: 55%;
    width: 100%;
    overflow: hidden;
  }
  #div2,#div2_2{
    position:relative; 
    margin-top: 0;
    height: 61%;
    width: 100%;
  }
  #div10 , #div9 {
    height: 37%;
  }

  #div10_10, #div11_11,#div10w, #div9w {
    height: 25%;
  }


  #div11
  {
    height: 37%;
  }
  #div19, #div20, #div21, #div22, #div23{
  border-radius: 0 0 0 0;
  }


  header {
    display: none;
  }
  
  .orangebiga, .orangebigx, .orangebig, .whiteonOrange, .whitebigbrown, .whitebigorange, .whitesmallorange, .whitesmallbrown, .orangesmall, .brownbigorange, .whiteonbrown, .orangeonbrown, .whitebigorange1, .whitebigbrown1,.whiteonbrownx, .orangeonbrownx, .whiteonOrangex ,.orangeonbrowna , .whitesmallbrowna , .whiteonbrowna , .whitesmallbrownz , .whiteonOrangea, .whitesmallorangea, .whitesmallbrowna {
    font-size: 6vw;
    line-height: 8vw;
    overflow: hidden;
  }

  .orange_30px, .whitesmallbrownz{
    font-size: 4vw;
    line-height: 4vw;
    overflow: hidden;
  }


  #div10_10 #div10_100 #div10_1 h1,  #div10_10 #div10_100 #div10_1 p,  #div11_11 h1, #div11_11 p {
    font-size: 1vw;
    line-height: 2vw;
    overflow: hidden;
  }

  .whitebigbrown, .whitebigorange {
    font-size: 26vw;
    line-height: 29vw;
  }

 .feedback-input input{
    display: flex;
    flex-direction: column;
  }
  
  .WB{
    padding-right: 10px;
    
  }

    #hh1{
      display: none;
    }
}
  
  .topnav {
    background-color: #4c3b31;
    overflow: hidden;
  
  }
  

  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .active {
    height: 49px;
    background-color: #F47346;
    color: white;
  }
  
 
  .topnav .icon {
    display: none;
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10000000;
  }
  

  .dropdown-content a {
    float: none;
    color: #4c3b31;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
 
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #4c3b31;
    color: white;
  }
  
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: #4c3b31;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  form { max-width:600px; margin:50px auto; }

  .feedback-input {
    color:white;
    font-family: 'Epilogue' ;
    font-weight:100;
    font-size: 10px;
    border-radius: 5px;
    line-height: 12px;
    background-color: transparent;
    border:2px solid #F47346;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .feedback-input 
  
  .feedback-input:focus { border:2px solid#F47346; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: Epilogue;
    width: 100%;
    background:#F47346;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#CC4949; }

#formw { max-width:1200px; margin:1% auto; }
  .left_form {
    width: 45%;
    margin: 1%;
    margin-left: 0;
    outline: none;
  }
  .right_form{
    width: 45%;
    margin: 1%;
    margin-left: 0;
    outline: none;
  }
  .feedback-input {
    color:#4c3b31;
    font-family: Epilogue ;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 15px;
    background-color: transparent;
    border:2px solid#41403f;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    text-align: center;
  }
  .feedback-inputs {
    color:white;
    font-family: Epilogue ;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 10px;
    background-color:#4c3b31;
    border:2px solid#41403f;
    transition: all 0.3s;
    padding-top: 20px;
    margin-bottom: 15px;
    margin-top: 0.3%;
    width:100%;
    box-sizing: border-box;
    outline:0;
    text-align: center;
  }
  
  .feedback-input:focus { border:2px solid#F47346; }
  
  textarea {
    height: 120px;
    line-height: 150%;
    resize:vertical;
  }
  
  
  [type="submit"]:hover { background:#CC4949; }
#formw { max-width:600px; margin:1% auto; }
  .left_form {
    width: 90%;
    margin: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
    outline: none;
  }
  .right_form{
    width: 90%;
    margin: 0.5%;
margin-left: 5%;
margin-right: 5%;
    outline: none;
  }
  .feedback-input {
    color:#4c3b31;
    font-family: Epilogue ;
    font-weight:100;
    font-size: 10px;
    border-radius: 5px;
    line-height: 10px;
    background-color: transparent;
    border:2px solid#41403f;
    transition: all 0.3s;
    padding: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline:0;
    text-align: center;
  }
  .feedback-inputs {
    color:white;
    font-family: Epilogue ;
    font-weight:100;
    font-size: 10px;
    border-radius: 5px;
    line-height: 10px;
    background-color:#4c3b31;
    border:2px solid#41403f;
    transition: all 0.3s;
    padding-top: 3px;
    margin-bottom: 1px;
    box-sizing: border-box;
    outline:0;
    text-align: center;
  }
  
  .feedback-input:focus { border:2px solid#F47346; }
  
  textarea {
    height: 120px;
    line-height: 150%;
    resize:vertical;
  }
  
  
  [type="submit"]:hover { background:#CC4949; }